timm
scikit-learn
matplotlib
tensorboard
numpy<2
pandas
scipy
seaborn
tqdm
segyio
numba
scikit-image
ipywidgets
jupyter_rfb
h5py
xgboost
plotly
pillow
umap-learn
opencv-python-headless==4.5.5.64
glfw
einops
ruff
cryptography
deepwave
hydra-core
omegaconf
nptdms
watchdog
obspy
pyproj
fastapi
uvicorn[standard]
python-multipart
redis
plotly
